.input {
  display: flex;
  align-items: baseline;
  width: 280px;
  margin-right: none !important;
  border-right: none;
  border-top-right-radius: 0px !important;
  border: 1px solid white;
  border-bottom-right-radius: 0px !important;
}

.innerNav {
  padding: 0 2rem;
}

.iconGroup {
  margin-left: auto;
}

.input:focus {
  border-color: rgba(117, 117, 117, 0.5);
  box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
}

.navigation {
  background-color: #80889d;
  padding-top: 0px;
  padding-bottom: 0px;
  justify-content: center;
  border-bottom: 1px solid rgb(49, 49, 49);
}

.inputDiv {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.searchBtn {
  background-color: rgba(148, 148, 148, 0.685);
  border: none;
  outline: none;
  height: 100%;
  border-radius: 0.25rem;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.hoverItem a:hover {
  color: #c7c6c6 !important;
  transition: linear;
}

.container {
  width: 1400px;
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}

@media screen and (max-width: 960px) {
  .container {
    width: 100%;
    max-width: none;
    padding: 0 2rem;
  }
  .inputDiv {
    margin: 10px 0 20px;
  }
}
