* {
  color: white;
}
.footer {
  background-color: #4b4e57;
  padding: 10px 3rem;
}

.footer a {
  text-decoration: none;
}

.footer ul {
  list-style: none;
  padding: 0;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1400px;
}

.ulWrapper {
  display: flex;
  justify-content: space-evenly;
  flex-basis: 60%;
}

a li {
  padding: 3px 0;
  color: rgb(207, 207, 207);
}

.copyright {
  margin: 10px 0;
  font-size: 11px;
}
.logoWrapper {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
}
.footerTitle {
  margin: 0 10px;
  color: white;
  font-size: 2.2rem;
}
.footerUl {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.footerUl span {
  font-size: 0.95rem;
}

.description {
  font-size: 12px;
  width: 50%;
}
.logo {
  display: flex;
  align-items: center;
}
.newsletter {
  color: rgb(231, 231, 231);
  padding: 6px 0;
}

/* Secondary footer  */
.collapsedFooter {
  display: none;
}

.footerTwo {
  background-color: #4b4e57;
  padding: 4px 1.25rem;
  font-size: 14px;
}
.footerTwoWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px 0;
}
.apiLink {
  margin: 0 3px;
  color: rgb(207, 207, 207);
}
.poweredBy {
  margin: 0 3px;
}

@media screen and (max-width: 1620px) {
  .ulWrapper {
    flex-basis: 70%;
  }
}
@media screen and (max-width: 1400px) {
  .description {
    width: 70%;
  }
}
@media screen and (max-width: 990px) {
  .collapsedFooter {
    display: block;
  }

  .mainFooter {
    display: none;
  }

  .description {
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .footerTwo {
    padding: 14px 1.25rem;
  }
  .footerTwo .logo2Wrapper {
    display: none;
  }
}
